backend/venv
backend/currentplugin
backend/wordpress/currentplugin
backend/__pycache__
backend/wordpress/CHKPLUG
backend/policy/apikey.py
backend/policy/__pycache__
backend/policy/htmltotext/__pycache__
backend/policy/temp
backend/wordpress/__pycache__
